<ion-header>

</ion-header>

<ion-content class="pagina" padding color="light">
  <!--Logo-->
  <ion-row class="logo-row">
    <ion-col></ion-col>

    <ion-col [style.align-items]="center">
      <img class="logo" src="assets/imgs/logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

    <ion-row [style.align-items]="center">
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-label> Bienvenido a nuestro restaurante</ion-label>
    </ion-col>
   
  </ion-row>
  <ion-row [style.align-items]="center">
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-button color="primary" id="boton" routerLink="/inicioCliente" round>Clientes</ion-button>
    </ion-col>
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-button color="tertiary" id="boton" routerLink="/login" round>Empleados</ion-button>
    </ion-col>
  </ion-row>




</ion-content>