<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo Pedido</ion-title>

    <!--ion-buttons slot="end">
      <ion-button (click)="cerrarSesionClick()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-chip *ngFor="let menu of menus" (click)="agregarMenu(menu.id)">
      <ion-icon name="{{menu.icon}}"></ion-icon>
      <ion-label>{{menu.nombre}}</ion-label>
    </ion-chip>
  </div>
  <div id="menus_cargados">
    <ion-chip color="success" *ngFor="let menu of menus_cargados">
      <ion-icon name="{{menu.icon}}"></ion-icon>
      <ion-label>{{menu.nombre}}</ion-label>
      <ion-icon name="close-circle" (click)="eliminarMenu(menu.id)"></ion-icon>
    </ion-chip>
  </div>
  <ion-row *ngIf="usuario!=null">
    <ion-col size="9">
      <ion-item>
        <ion-icon name="person" item-start></ion-icon>
        <ion-input [(ngModel)]="cliente" type="text" placeholder="Cliente"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="3">
      <ion-item *ngIf="mesas.length > 0">
        <ion-icon name="pin"></ion-icon>
        <ion-select [(ngModel)]="mesa" placeholder="Mesa" style="max-width: 100%">
          <ion-select-option *ngFor="let option of mesas" value="{{option.codigo}}">{{option.codigo}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-button color="primary" id="boton" (click)="generarPedido()" round>Pedir</ion-button>
</ion-content>
