@import "../../../theme/variables.scss";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

page-alta-cliente {

    .scroll-content{
        background-color: $first-detail-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px !important;
        font-family: 'Ubuntu', sans-serif;
        padding: auto;
    }

    .botonR{
        color: orange;
        border-color: orange;

       
        &:hover{

            background-color: orange;
            color: white;

        }
        &:active{

            background-color: orange;
            color: white;

        }
            
    
    }
 
       
    ion-icon{
        color:white;
      }

  
        ion-col{

         text-align: center;
          
        }


}
