page-home {


    #boton{
        text-align: center;
        height: 20px;
      }

      font-family: 'Ubuntu', sans-serif;
  

      .scroll-content{
      
      background: $first-detail-color;
        }
  /*
      .cabecera{
        background-color: rgba(29, 21, 43, 0.789);
          color:white;
      }
    
          ion-item{
            background-color: white;
          }
          .item-md h1 {
            margin: 0px;
        }
  
        ion-col{
  
          padding: auto;
          
        }
  
        .salir{
         // background-color: black;
          color: white;
          border-radius: 10px;
        }
  */
        h1{
          text-align: center;
          color: white;
        }
  
        img{
          margin: auto;
         
          max-height: 20rem;
          align-content: center;
         text-align: center;
         background-color: #4e4e4e;
        }

        .imgA{
          margin: auto;
         
          max-height: 20rem;
          align-content: center;
         text-align: center;
         background-color: #b85e5e;
        }
        .imgB{
          margin: auto;
         
          max-height: 20rem;
          align-content: center;
         text-align: center;
         background-color: #bec050;
        }
  
        ion-col{

         text-align: center;
          
        }
       
  
  }
  
  .Lindas{
    
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 10px !important;
   
    height: 27rem;
    font-size: 20px;
   
  
  }
  
  .Feas{
   
    background-size: cover;
    background-position: center;
    margin: auto;
    border-radius: 10px !important;
    color: black;
    height: 27rem;
    font-size: 20px;
   

}

