page-home {  

      
  

      .scroll-content{
        background-color: $first-detail-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px !important;
        font-family: 'Ubuntu', sans-serif;
        padding: auto;
    }

 
       

  
        ion-col{

         text-align: center;
          
        }


    .botones{
      align-content: center;
      text-align: center;
  }

  .img {      
        
    width:  100%;
    height: 100%;
  //  background-size: cover;
    background-repeat: no-repeat;
    
    
    
}

.logo {      
        
 padding-top: auto;
  background-repeat: no-repeat;
  
  
  
}
       
  
  }
  

