<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" routerLink="/carga-pedido">
    Agregar Pedido
  </ion-button>
  <ion-button *ngIf="usuario.tipo!='registrado' && usuario.tipo!='Mozo'" expand="full" routerLink="/toma-pedido" >
    Tomar Pedido  
  </ion-button>
  <ion-button *ngIf="usuario.tipo=='Mozo'" expand="full" routerLink="/toma-pedido" >
    Servir Pedidos Listos
  </ion-button>
  <ion-button *ngIf="usuario.tipo=='registrado'" expand="full" routerLink="/estado-pedido" >
    Verificar Estado  
  </ion-button>
</ion-content>