// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/


$mi-background-color:#40596b;
$first-detail-color: #40596b;
$second-detail-color:#9b9a9b;
$third-detail-color:#40596b;


$primary-color: #40596b;

.form-center-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-md[stacked], .label-md[floating]{
  color: $first-detail-color;
}

.loading-md .loading-wrapper{
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  //transform: scale(2) !important;
}



.form-center-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-md[stacked], .label-md[floating]{
  color: $first-detail-color;
}

.loading-md .loading-wrapper{
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none;
  transform: scale(2) !important;
}


$loading-md-spinner-color	: $first-detail-color;


// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  boton:      #4e4e4e,
  globo1:     rgba(171, 243, 221, 0.829),
  globo:      yellow,
  toolbar:  rgba(29, 21, 43, 0.789),
  fondo:     #40596b
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
