@import "../../../theme/variables.scss";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');


page-cliente-menu {

    .scroll-content{
        background-color: $first-detail-color;
        display: flex;
        flex-direction: column;
       //justify-content: center;
        padding-bottom: 0px !important;
        font-family: 'Ubuntu', sans-serif;
        padding: auto;
    }


    .item-md {
        border-radius: 10px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
       // margin-bottom: 10px;
        border: 2px solid #fa8f03;
        //border-bottom: 0px !important;
        //ox-shadow: none !important;
        color: black;
      }
    ion-icon{
        color: white;
    }
}
