<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button routerLink="/empleados">
        <ion-icon name="person"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{this.usuarioOnline.usuario | uppercase }}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesionClick()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid >
        <ion-row  [hidden]= "logo">
 
            <ion-col col-12 col-md-2 col-sm-2   [style.align-items]= "center"  >
                <img  class="logo"  src="assets/imgs/logo.png" /> 
              </ion-col>
    
            </ion-row >
      
       
              <ion-row >
          <ion-col class="botones" col-6 col-md-6 col-sm-2  [style.align-items]= "center"  *ngFor="let icono of listadoIconos"  >      
           <img class="iconos"  [src]="icono.imagen" (click)="iconosClick(icono)" >
          </ion-col>
        </ion-row>
       
        
      </ion-grid>

</ion-content>