.scroll-content {
  background-color: #91d7e2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0px !important;
  font-family: "Ubuntu", sans-serif;
  padding: auto;
}

.botones {
  align-content: end;
  text-align: center;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconos {
  margin: auto;
}

#boton {
  text-align: center;
  height: 20px;
}

img {
  margin: auto;

  max-height: 20rem;
  align-content: center;
  text-align: center;
  background-color: #4e4e4e;
}

ion-col {
  text-align: center;
}
