<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 4a70db876622fa9da8ac067c08ee71be3f426845
@import '~@ionic/angular/css/normalize.css';
.suspended {
    font-style: italic;
    color: gray;
}
<<<<<<< HEAD
=======
=======
.suspended {
    font-style: italic;
    color: gray;
}
>>>>>>> development
>>>>>>> 4a70db876622fa9da8ac067c08ee71be3f426845
