<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Empleados</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/empleado">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="empleados.length > 0">
    <ion-list *ngFor="let empleado of empleados">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col *ngIf="empleado.tipo=='Bartender'" size="2">
              <img src="assets/imgs/coctel.png">
            </ion-col>
            <ion-col *ngIf="empleado.tipo=='Mozo'" size="2">
              <img src="assets/imgs/mozo.png">
            </ion-col>
            <ion-col *ngIf="empleado.tipo=='Socio'" size="2">
              <img src="assets/imgs/socio.png">
            </ion-col>
            <ion-col *ngIf="empleado.tipo=='Cocinero'" size="2">
              <img src="assets/imgs/cubiertos.png">
            </ion-col>
            <ion-col *ngIf="empleado.tipo=='Cervecero'" size="2">
              <img src="assets/imgs/cerveza.png">
            </ion-col>
            <ion-col *ngIf="empleado.tipo=='Delivery'" size="2">
              <img src="assets/imgs/delivery.png">
            </ion-col>
            <ion-col size="4">
              <ion-label [ngClass]="{'suspended' : empleado.estado=='S'}">{{empleado.nombre}}</ion-label>
            </ion-col>
            <ion-col *ngIf="empleado.estado=='S'" size="2">
              <ion-button color="success" (click)="activar(empleado.id)">
                <ion-icon name="walk"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="empleado.estado=='A'" size="2">
              <ion-button color="primary" (click)="suspender(empleado.id)">
                <ion-icon name="man"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button color="warning" routerLink="/empleado/{{empleado.id}}">
                <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2">
              <ion-button color="danger" (click)="borrar(empleado.id)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>