<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="atras()">
          <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    <ion-title>Mesas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crear()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mesas.length > 0">
    <ion-list *ngFor="let mesa of mesas">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-label>{{mesa.codigo}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>{{mesa.estado}}</ion-label>
            </ion-col>
            <ion-col *ngIf="mesa.estado=='Con clientes comiendo'" size="2">
              <ion-button color="warning" (click)="cerrar(mesa.codigo)">
                <ion-icon name="cash"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="mesa.estado=='Con clientes pagando' || mesa.estado=='Asignada'"   size="2">
              <ion-button color="success" (click)="cerrar(mesa.codigo)">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col *ngIf="mesa.estado=='Cerrada'" size="2">
              <ion-button color="danger" (click)="borrar(mesa.codigo)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>