

page-popover {

    ion-avatar{
        text-align: center;
    }
  /*
    img{
        text-align: center;
        padding: auto;
        margin: auto;
        display: block;
    }*/
   
       
       

}
