.scroll-content {
    // background-color: $first-detail-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px !important;
    font-family: "Ubuntu", sans-serif;
    padding: auto;
  }
  
  ion-icon {
    color: white;
  }
  
  ion-col {
    text-align: center;
  }
  
  .botones {
    align-content: center;
    text-align: center;
  }
  
  ion-img {
    width: 80%;
    margin-bottom: 15px;
    //  background-size: cover;
    background-repeat: no-repeat;
  }
  