
.total {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: #10dc60;
  text-align: center;
  border-radius: 5px;
}


.total p {
  margin-top: 50%;
  font-size: 30px;
  color: white;
}
