<ion-header>

</ion-header>

<ion-content padding color="light">
  <!--Logo-->
  <ion-row class="logo-row">
    <ion-col></ion-col>

    <ion-col [style.align-items]="center">
      <img class="logo" src="assets/imgs/logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-12 col-md-6 col-xl-3>
      <ion-item>
        <ion-input type="text" required name="email" [(ngModel)]="dataLogin.user" placeholder="Usuario">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item col-12 col-md-6 col-xl-3>
        <ion-input type="password" required name="password" [(ngModel)]="dataLogin.pass" placeholder="Contraseña">
        </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-button color="primary" id="boton" (click)="singIn()" round>Iniciar Sesión</ion-button>
    </ion-col>
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-button color="secondary" id="boton" (click)="registerUser()" round>Alta cliente</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="botones-redondos" col-12 col-md-5 col-xl-5>
      <button type="button" style="background-color: #ffb4aa;" class="btn-circle btn-lg" title="Socio"
        (click)="CargarDefault('S')">
        <img src="assets/imgs/inicio/cliente.png">
      </button>
      <button type="button" style="background-color: #fff4a7;" class="btn-circle btn-lg" title="Bartender"
        (click)="CargarDefault('B')">
        <img src="assets/imgs/inicio/cliente.png">
      </button>
      <button type="button" style="background-color: #efbdff;" class="btn-circle btn-lg" title="Cervecero"
        (click)="CargarDefault('CE')">
        <img src="assets/imgs/inicio/cliente.png">
      </button>
      <button type="button" style="background-color: #fdd3b6;" class="btn-circle btn-lg" title="Cocinero"
        (click)="CargarDefault('CO')">
        <img src="assets/imgs/inicio/cliente.png">
      </button>
      
    </ion-col>



  </ion-row>

  <ion-row>
    
    <ion-col class="botones-redondos" col-6 col-md-3 col-xl-3>
      <ion-button color="medium" id="boton" routerLink="/bienvenido" round>Volver</ion-button>
    </ion-col>
  </ion-row>





</ion-content>